.App {
  font-family: sans-serif;
  text-align: center;
}

.ant-input {
  width: 100px;
  margin: 0 8px 8px 0;
}
.rule-number {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.rule-input {
  width: 60px;
  display: inline-block;
}
.rule-input .ant-input {
  width: 60px;
}
